doctype html

html(lang="en")
  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(charset="UTF-8")
    title Testing
  body

  form(action="/form", method="post") 
    input(type="text" name="name")
    button(type="submit") enviar 

button Ver usuarios 
